
		<h3>Commentaires</h3>

		{%if ( justPosted == false ) %}
		<div class="alert alert-success">
			<h3>Merci pour votre commentaire</h3>
			{%if ( isLoged == false ) %}
			<p>On va quand même vérifier que vous ne dites pas trop de conneries, hein.</p>
			{% endif %}
			<a href="/post/{{postId}}" class="btn btn-outline-primary" onclick="return bh(this)">Fermer</a>
        </div>
		{% endif %}

		{% for comment in comments %}
			<div id="track{{comment.id}}" class="track">
				<div class="headline">
					<strong>{{comment.name | raw }}</strong>
					<span class="date">{{comment.date | raw }}</strong>
				</div>
				<div class="track-content" style="white-space:break-spaces">{{comment.txt | raw }}</div>
			</div>
		{% endfor %}

		{%if ( comments | length == 0 ) %}
		<div class="alert alert-primary">{{nocomment | raw }}</div>
		<div class="alert alert-primary">{{nocomment | raw }}</div>
		{% endif %}

		<div class="">
			<a class="btn btn-primary" onclick="bg(this)" data-bj="newComment|newComment|postId={{postId}}">
			<a class="btn btn-success" onclick="bg(this)" data-bj="newComment|newComment|postId={{postId}}">
			Poster un commentaire
			</a>
		</div>
		<div id="newComment"></div>
	</div>
