{% extends ajaxMode == 'false' ? 'main.html.twig' : 'empty.html.twig' %}
{% block posts %}{% endblock %}
{% block post %}
	<div id="post{{article.postId}}" class="post">
		<h1>{{article.title | raw }}</h1>
    {% if (article.pub == 0) %}
        <div class="alert alert-warning">Non public</div>
    {% endif %}
		<div class="headline">
			<span class="author">{{article.name }}</span>
			<span class="date">{{article.date }}</span>
			<strong class="category">[{{article.category | raw }}]</strong>
			{%if ( editable == true ) %}
			<a class="btn btn-success" href="/postEdit/{{postId}}" onclick="bh(this)">Editer</a>
			{% endif %}
		</div>
		<div class="excerpt">{{article.excerpt | raw }}</div>
		<div class="content" style="white-space:break-spaces">{{article.content | raw }}</div>
	</div>
{% endblock post %}

{% block comments %}
	<div id="comments" class="comments">
		<h3>Commentaires</h3>
		{% for comment in comments %}
			<div id="track{{comment.id}}" class="track">
				<div class="headline">
					<strong>{{comment.name | raw }}</strong>
					<span class="date">{{comment.date | raw }}</strong>
				</div>
				<div class="track-content" style="white-space:break-spaces">{{comment.txt | raw }}</div>
			</div>
		{% endfor %}

		{%if ( comments | length == 0 ) %}
		<div class="alert alert-primary">Aucun commentaire pour le moment</div>
		{% endif %}

		<div class="">
			<a class="btn btn-success" onclick="bg(this)" data-bj="newComment|newComment|postId={{postId}}">
			Poster un commentaire
			</a>
		</div>
		<div id="newComment"></div>
	</div>
{% endblock comments %}
